* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background: #0F0F2F;
    width: 100vw;
    overflow: hidden;
}
h1 {
    text-shadow: 0 0 2px #DDD;
}
#root {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;

    background: #111;
    
    box-shadow: 0 0 4px #999;
}
#root * {
    position: absolute;
}
.el{
    animation: anim 1.5s 1s ease-in infinite alternate;
}
@keyframes anim {
    0% {}
    100% {
        transform: scale(0.65);
    }
}
.block {
    background-color: #EEE;
    z-index: 1;
}
.a {
    top: 5%;
    left: 45%;
    
    width: 10%;
    height: 80%;
}
.b {
    top: 25%;
    left: 30%;
    
    width: 40%;
    height: 15%;
}

.obj {
    border: 20px solid #EEE;
    z-index: 0;
}
.c {
    top: 18%;
    left: 40%;

    width: 20%;
    height: 30%;
}

#crest {
    top: 20%;
    left: 5%;

    width: 20%;
    height: 35%;
}
.sp {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

    border: 2px solid #FFF;
}
.s1 {
    background: #F00;
    border-radius: 100%;
    z-index: 0;
}
.s2 {
    background: #0F0;
    border-radius: 0% 100%;
    z-index: 1;
}
.s3 {
    background: #00F;
    border-radius: 100% 0%;
    z-index: 2;
}
#myro {
    top: 5%;
    left: 74%;

    width: 320px;
    height: 600px;

    
}
#myro * {
    position: relative;
}